---
import { menuMain } from '@/data/menus'
import P1 from '@/assets/logo.png'
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'

const rmTrailingSlash = (path: string): string => {
  return path.endsWith('/') && path.length > 1
    ? path.slice(0, path.length - 1)
    : path
}

const pathname = rmTrailingSlash(Astro.url.pathname)
---

<header x-data='{ open: false }' @keydown.window.escape='open = false'>
  <div
    id='header-wrapper'
    class='fixed top-2 xl:top-4 z-40 w-[calc(100%-32px)] lg:w-[calc(100%-128px)] ml-4 lg:ml-16'
  >
    <div
      class='container max-lg:px-4 max-w-none border border-white/10 bg-white shadow-lg rounded-2xl py-4 lg:py-2'
    >
      <nav
        class='flex relative items-center justify-between px-4 lg:px-12'
        aria-label='Global'
      >
        <a href='/' class='relative z-10 flex flex-col items-end'>
          <Image
            src={P1}
            alt='Logo'
            class='w-full max-w-[100px] lg:max-w-[150px] object-cover'
            format='webp'
          />
        </a>
        <div class='flex xl:hidden'>
          <button
            type='button'
            class='-m-2.5 inline-flex items-center justify-center p-2.5'
            @click='open = true'
          >
            <span class='sr-only'>Open main menu</span>
            <svg
              class='size-6 text-primary'
              fill='none'
              viewBox='0 0 24 24'
              stroke-width='1.5'
              stroke='currentColor'
              aria-hidden='true'
              data-slot='icon'
            >
              <path
                stroke-linecap='round'
                stroke-linejoin='round'
                d='M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5'></path>
            </svg>
          </button>
        </div>
        <div class='max-xl:hidden absolute w-full inset-x-0'>
          <div class='flex gap-x-3 justify-end xl:justify-center items-center'>
            {
              menuMain.map((item) => (
                <a
                  href={item.url}
                  class={`transition text-lg text-accent rounded-full font-semibold hover:bg-accent/20 px-4 py-2 ${pathname === item.url ? 'menu-item-active' : ''}`}
                >
                  {item.name}
                </a>
              ))
            }
          </div>
        </div>
        <div class='relative z-10 flex items-center gap-x-4 max-xl:hidden'>
          <a
            href='tel:+48503172772'
            class='bg-primary text-accent rounded-full flex gap-3 items-center px-6 py-3 font-semibold'
          >
            <Icon name='lucide:phone' class='size-4 text-accent' />
            Zadzwoń teraz</a
          >
        </div>
      </nav>
    </div>
  </div>
  <div class='lg:hidden' x-ref='dialog' x-show='open' x-cloak aria-modal='true'>
    <div
      class='fixed inset-0 z-50 w-full overflow-y-auto bg-white/80 backdrop-blur-sm px-12 py-8'
      x-show='open'
      x-transition:enter='transition ease-out'
      x-transition:enter-start='opacity-0'
      x-transition:enter-end='opacity-100'
      x-transition:leave='transition ease-in'
      x-transition:leave-start='opacity-100'
      x-transition:leave-end='opacity-0'
      x-cloak
    >
      <div class='flex items-center justify-between'>
        <Image
          src={P1}
          alt='Logo'
          class='w-full max-w-[150px] object-cover'
          format='webp'
        />
        <button
          type='button'
          class='-m-2.5 p-2.5 text-primary'
          @click='open = false'
        >
          <span class='sr-only'>Close menu</span>
          <svg
            class='size-8'
            fill='none'
            viewBox='0 0 24 24'
            stroke-width='2'
            stroke='currentColor'
            aria-hidden='true'
            data-slot='icon'
          >
            <path
              stroke-linecap='round'
              stroke-linejoin='round'
              d='M6 18 18 6M6 6l12 12'></path>
          </svg>
        </button>
      </div>
      <div class='mt-6 flow-root'>
        <div class='-my-6 divide-y divide-gray-500/10'>
          <div class='space-y-8 py-6 mt-32'>
            {
              menuMain.map((item) => (
                <a
                  x-on:click='open = false'
                  href={item.url}
                  class={`block py-2 text-center text-accent font-semibold text-3xl ${pathname === item.url ? 'menu-item-active' : ''}`}
                >
                  {item.name}
                </a>
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<script>
  document.addEventListener('astro:page-load', () => {
    const headerWrapper = document.getElementById('header-wrapper')!
    const setHeaderHeight = () => {
      document.documentElement.style.setProperty(
        '--header-height',
        `${headerWrapper.offsetHeight}px`,
      )
    }
    setHeaderHeight()
    window.addEventListener('resize', setHeaderHeight)
  })
</script>
