---
import '@/styles/global.css'
import AppHeader from '@/components/AppHeader.astro'

export interface Props {
  title: string
  description: string
  cannonical?: string
  keywords: string
}

const { title, description, cannonical, keywords } = Astro.props as Props
---

<!doctype html>
<html lang='pl'>
  <head>
    <script
      src='https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js'
      defer></script>
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Sour+Gummy&display=swap'
      rel='stylesheet'
    />
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
    </style>
    <link
      href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap'
      rel='stylesheet'
    />
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' href='/favicon.svg' type='image/svg+xml' />

    <meta name='robots' content='index, follow' />
    <meta name='generator' content={Astro.generator} />
    <link rel='canonical' href={cannonical} />
    <title>{title}</title>
    <meta name='description' content={description} />
    <meta name='keywords' content={keywords} />
    <meta property='og:type' content='website' />

    <meta
      property='og:title'
      content={'Fototograf okolicznościowy Puchaczów - Robert Lis'}
    />
    <meta
      property='og:description'
      content={'Doświadczony fotograf okolicznościowy z Puchaczowa - śluby, chrzciny i komunie.'}
    />
    <meta property='og:url' content={'https://photofox.pl'} />
    <meta property='og:image' content={'https://photofox.pl/og-image.png'} />
    <meta property='og:locale' content={'pl'} />

    <meta name='DC.identifier' content='https://photofox.pl' />
    <meta name='DC.creator' content='Kacper Saweczko' />
    <meta name='DC.language' content='pl' />
    <meta name='DC.type' content='website' />
    <meta name='DC.format' content='text/html' />
    <meta name='DC.rights' content='Photofox Robert Lis' />
    <meta
      name='DC.subject'
      content={'Forografia ślubna, fotografia na chrzest i komunię świętą. Doświadczony fotograf Robert Lis.'}
    />
    <script is:inline type='application/ld+json'>
      {
        "@context": "https://schema.org",
        "@type": "LegalService",
        "name": "Photofox Robert Lis",
        "image": "https://photofox.pl/logo.ico",
        "@id": "https://photofox.pl",
        "url": "https://photofox.pl",
        "telephone": "+48 504 450 671",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "ul. Robotnicza 38",
          "addressLocality": "Puchaczów",
          "postalCode": "21-500",
          "addressCountry": "PL"
        },

        "founder": {
          "@type": "Person",
          "name": "Robert Lis"
        },

        "description": "Fotograf okolicznościowy - fotografia ślubna, fotografia chrztu i pierwszej komunii świętej.",
        "email": "kontakt@photofox.pl"
      }
    </script>
  </head>
  <body>
    <AppHeader />
    <main>
      <slot />
    </main>
    <!-- <AppFooter /> -->
  </body>
</html>
